:root {
    --linearBackground: linear-gradient(0deg, #000, #000);
}

* {
    box-sizing: border-box;
    padding: 0;
    user-select: none;
}

body {
    min-height: 100vh;
    max-height: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
    color: #fff;
    overflow-x: hidden;
    background: #000;
}

button {
    padding: 1.2rem;
    background: none;
    font-family: sans-serif;
    color: #fff;
    border: 3px solid #fff;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 10px;
}

div button {
    padding: 0.5rem;
    background: none;
    font-family: sans-serif;
    color: #fff;
    border: 3px solid #fff;
    outline: none;
    cursor: pointer;
    margin: 0 auto;
    margin: 10px;
}

button:hover {
    background: #fff;
    color: #000;
}

.deg0Arrow {
    transform: rotate(0deg);
}

.deg45Arrow {
    transform: rotate(45deg);
}

.deg90Arrow {
    transform: rotate(90deg);
}

.deg135Arrow {
    transform: rotate(135deg);
}

.deg180Arrow {
    transform: rotate(180deg);
}

.deg225Arrow {
    transform: rotate(225deg);
}

.deg270Arrow {
    transform: rotate(270deg);
}

.deg315Arrow {
    transform: rotate(315deg);
}

.deg360Arrow {
    transform: rotate(360deg);
}

.color-div {
    padding: 0px 10px;
    border: 10px solid #fff;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.color-div button {
    margin-bottom: 10px;
    margin: 10px;
}

h1 span {
    margin: 0 10px;
}

@media (max-width: 420px) {
    .color-div {
        padding: 20px;
    }

    .color-div h1 {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .color-div h1 span {
        margin: 15px 0;
    }

    .color-div h1 i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  } 

  #save-slots {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
  }

  h1 {
    margin: 10px auto;
  }

  .save-slot {
      padding: 10px 20px;
      margin: 10px;
      color: #fff;
      outline: 5px solid #fff;
      position: relative;
  }

  .save-slot .num {
      position: absolute;
      top: 10px;
      left: 20px;
  }

  .save-slot i {
      margin: 0 10px;
  }

  .save-slot .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .save-slot .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .save-slot .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .save-slot .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  } 