@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam', sans-serif;
}

body {
    position: relative;
}

.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%);}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 4rem;
}

nav .row1 {
    display: flex;  
    align-items: center;
    justify-content: space-between;
}

nav .row1 .hamburger {
    opacity: 0;
}

nav .row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

nav .row2 .navLink {
    display: inline-block;
    margin: 0 10px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
}

nav .row2 .navLink:hover {
    opacity: 0.5;
}

nav .row2 button {
    padding: 0.6rem 1rem;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid hsl(12, 88%, 59%);
    background-color: hsl(12, 88%, 59%);
    color: #fff; 
    cursor: pointer;
    outline: none;
    box-shadow: 0px 7px 20px -5px hsl(12, 88%, 59%);
-webkit-box-shadow: 0px 7px 20px -5px hsl(12, 88%, 59%);
-moz-box-shadow: 0px 7px 20px -5px hsl(12, 88%, 59%)}

nav .row2 button:hover {
    opacity: 0.7;
}

@media (max-width: 1021px) {
    nav {
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        height: 100px;
        transition: all 1500ms;
    }

    nav .row1 {
        width: 100%;
        position: absolute;
        top: 1.3rem;
        padding: 1.3rem 2rem;
    }

    nav .row1 .hamburger {
        opacity: 1;
        margin-bottom: 5px;
    }

    nav .row2 {
        width: 80%;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        box-shadow: 2px 500px 140px 400px rgba(0,0,0,0.75);
        -webkit-box-shadow: 2px 500px 140px 400px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 500px 140px 400px rgba(0,0,0,0.75);
        position: absolute;
        top: -100%;
        transition: all 1500ms;
        z-index: 10;
    }

    nav .row2 .navLinks {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }

    nav .row2 .navLink {
        display: block;
        margin: 7px 0;
    }

    nav .row2 button {
        margin-bottom: 15px;
    }
}

.nav-row2 {
    opacity: 1;
}

/*animation*/
.anim1 {
    animation: rotate 2s linear 1;
}

@keyframes rotate {
    5%  {transform: translate(15px, -13px) rotate(10deg); }
    10%  {transform: translate(32px, -23px) rotate(20deg); }
    15% {transform: translate(51px, -30px) rotate(30deg); }
    20% {transform: translate(71px, -33px) rotate(40deg); }
    25% {transform: translate(90px, -33px) rotate(50deg); }
    30% {transform: translate(110px, -29px) rotate(60deg);}
    35% {transform: translate(129px, -23px) rotate(70deg);}
    40% {transform: translate(147px, -13px) rotate(80deg);}
    45% {transform: translateX(162px) rotate(90deg);      }
    /* center */
    60% {transform: translateX(162px) rotate(90deg) }
    65% {transform: translate(147px, -13px) rotate(80deg); }
    70% {transform: translate(129px, -23px) rotate(70deg);}
    75% {transform: translate(110px, -29px) rotate(60deg);}
    80% {transform: translate(90px, -33px) rotate(50deg); }
    85% {transform: translate(71px, -33px) rotate(40deg); }
    90% {transform: translate(51px, -30px) rotate(30deg);}
    95% {transform: translate(32px, -23px) rotate(20deg); }
    97% {transform: translate(15px, -13px) rotate(10deg);}
}

.anim2 {
    animation: rotate1 2s linear 1;
}

@keyframes rotate1 {
    0% , 97%  {transform: translate(20px, -16px) rotate(12deg);}
    10%, 95% {transform: translate(40px, -25px) rotate(24deg);}
    15%, 90% { transform: translate(64px, -32px) rotate(36deg); }
    20%, 85% { transform: translate(86px, -33px) rotate(48deg); }
    25%, 80% {transform: translate(111px, -30px) rotate(60deg);}
    30%, 75% {transform: translate(133px, -22px) rotate(72deg);}
    35%, 70% {transform: translate(161.5px, 0px) rotate(90deg);}
    40%, 65% {transform: translate(177px, 18px) rotate(102deg);}
    45%, 60% {transform: translateX(192.5px) translateY(51px) rotate(120deg);}
}

.red-rect-1-2 {
    animation: move1and2 4s ease infinite both;
    z-index: 10;
}

.red-rect-4 {
    animation: move4 4s ease infinite both;
    z-index: 10;
}

@keyframes move4 {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}

.black-rect-1 {
    animation: move1and2 4s ease infinite both;
    z-index: 10;
}

.black-rect-2-4 {
    animation: move1and2 4s ease infinite both;
    z-index: 10;
}

@keyframes move1and2 {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(30px);
    }
    
    100% {
        transform: translateY(0px);
    }
}