@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }

:root {
    --barColor: hsl(176, 50%, 47%);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } 

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}
/* .message-container {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 28%, 72% 28%, 72% 0, 44% 28%, 0 28%);
    clip-path: polygon(0 100%, 100% 100%, 100% 28%, 72% 28%, 72% 0, 44% 28%, 0 28%);  
    height: fit-content;
    max-width: 100px;
    padding: 30px 0 15px 10px;
    background-color: aqua;
    margin: 20px 10px;
  } */
nav {
    background-image: url(images/image-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    width: 100vw;
}

@media only screen and (max-width: 750px) {
    nav {
        background-image: url(images/image-hero-mobile.jpg);
    }
}

.navbar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 8vw;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) ,rgba(0, 0, 0, 0));
}

.navbar img {
    width: 200px;
}

.nav-links {
    color: #fff;
    list-style: none;
}
.nav-link {
  display: inline-block;
  margin: 0 10px;
  width: fit-content;
  font-family: 'Commissioner', sans-serif;
}

.nav-link:hover {
    text-decoration: underline;
}

a:link, a:visited, a, a:active {
    text-decoration: none!important;
    color: #fff;
    outline: none;
}

.discover {
    position: relative;
    max-width: 650px;
    margin: 0 auto;
    margin-top: -100px;
    margin-bottom: 20px;
    padding: 50px 40px;
    background-color: #fff;
    border-radius: 10px;
    font-family: 'Commissioner', sans-serif;
    text-align: center;
}

@media only screen and (max-width: 690px) {
    .discover {
        margin: 0 20px;
        margin-top: -50px;
        margin-bottom: 20px;
        max-width: 90vw;
    }

    .campaign-container {
        margin: 0 20px;
        margin-bottom: 20px;
        width: 90vw;
    }

    .campaign {
        width: 85vw;
    }
}

.discover .h1 {
    font-weight: 900;
    margin: 10px 0;
    font-size: x-large;
}

.discover > p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    margin: 10px 0;
}

.discover-row {
    display: flex;
    width: 100%;
    margin: 30px 0 0 0;
    justify-content: space-between;
    align-items: center;
}

.discover-row button {
    padding: 1.2rem 1.7rem;
    border-radius: 30px;
    outline: none;
    border: none;
    color: #fff;
    background-color: hsl(176, 50%, 47%);
    cursor: pointer;
    font-family: 'Commissioner', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.discover-row button:hover {
    background-color: hsl(176, 72%, 28%);
}

.bookmark-btn {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
}

.bookmark-btn:hover {
    opacity: 0.7;
}

.bookmark-btn > span {
    margin: 0 10px;
    text-transform: capitalize;
    font-weight: bold;
}

.mastercraft {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.campaign-container {
    position: relative;
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Commissioner', sans-serif;
}

.campaign {
    display: flex;
}

.breakpage-bar {
    width: 2px;
    height: 100%;
    background-color: hsl(0, 0%, 48%);
}

.container {
    width: 30vw;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.container span {   
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: 25px;
}

.container p {
    margin-top: 7px;
    color: hsl(0, 0%, 48%);
}

.bar-container {
    width: 97%;
    height: 15px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: rgba(60, 180, 172, 0.1);
    border-radius: 100px;
    cursor: pointer;
}

.bar-container:hover {
    --barColor: hsl(176, 72%, 28%);
}

.bar {
    width: 80%;
    height: 15px;
    border-radius: 100px;
    background-color: var(--barColor);
}

@media only screen and (max-width: 463px) {
    .campaign {
        flex-direction: column;
    }

    .container {
        flex-direction: column;
        justify-content: center;
        margin-left: 50%;
        transform: translate(-50%, 0%);
        text-align: center;
        width: 50vw;
    }

    .container p {
        margin: 12.5px 0;
    }

    .breakpage-bar {
        height: 2px;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 10px;
        background-color: rgba(122, 122, 122, 0.3);
    }

    .bar-container {
        margin-top: 20px;
    }

    .bookmark-btn {
        width: fit-content;
        height: fit-content;
    }

    .bookmark-btn > span {
        display: none;
    }
}

.about {
    position: relative;
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Commissioner', sans-serif;
}

.about h1 {
    font-size: 1.3rem;
    margin-bottom: 40px;
}

.about p{
    color: hsl(0, 0%, 48%);
    line-height: 30px;
}