@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

html {
  max-width: 100vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

:root {
  --nestedNavbarHeight1: 0px;
  --nestedNavbarHeight2: 0px;
  --nestedNavbarHeight3: 0px;
  --position: fixed;
  --boxShadow: 0px 24px 101px -21px rgba(0,0,0,0.75);
  --buttonsMarginLeft: auto;
  --buttonsMargin: 0 5px;
  --nestedNavLinksWidth: 110px;
  --imgLeft1: 90px;
  --imgLeft2: 100px;
  --imgLeft3: 110px;
  --imgTransform: rotate(0deg);
  --textDecorationColor: underline 2px #fff;
  --navLinksMarginBottom: 30px;
  --loginColor: #fff;
  --signupColor: hsl(355, 100%, 74%);
  --navLinksDisplay: flex;
  --buttonsDisplay: flex;
  --nestedNavbarBackgroundColor: #fff;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}
.attribution { font-size: 1rem; text-align: center; position: fixed; bottom: 0; left: 50%; transform: translate(-50%, 0%);}
.attribution a { color: hsl(228, 45%, 44%); }
#home {
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    min-height: 80vh;
    border-bottom-left-radius: 100px;
}
#home > .background-pattern {
    position: absolute;
    top: 0;
    right: 0;
    width: 150vw;
    z-index: -1;
    transform: translate(30%, -27%);
}
@media (max-width: 900px) {
  #home > .background-pattern {
      height: 250vh;
      width: auto;
      transform: translate(40%, -27%);
  }
}
nav {
    display: flex;
    font-family: 'Ubuntu';
    align-items: center;
    padding: 50px 5vw;
    z-index: 2; 
}
.hamburger {
    display: none;
}
@media screen and (max-width: 835px) {
  #home {
    --buttonsMarginLeft: 0px;
    --navLinksMarginBottom: 0px;
    --nestedNavbarBackgroundColor: rgba(0, 0, 0, 0.1);
    --navLinksHeight: 0px;
    --buttonsHeight: 0px;
    --navLinksPadding: 0px;/*10px*/
    --buttonsPadding: 0px;/*20px*/
    --navLinksBorder: 0px;/*2px*/
  }
  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  #home .row-1 {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  #home .row-1 .hamburger {
    display: block;
  }
  nav {
    flex-direction: column;
  }
  .navLinks {
    display: flex;
    flex-direction: column;
    background-color:#fff;
    padding: var(--navLinksPadding) 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: var(--navLinksBorder) solid rgba(0, 0, 0, 0.2);
    width: 80%;
    box-shadow: 4px 13px 64px -18px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 13px 64px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 13px 64px -18px rgba(0,0,0,0.75);
  }
  .navLink {
    display: block;
    margin: 7px auto;
    --position: relative;
    --boxShadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    --nestedNavLinksWidth: 200px;
    --imgLeft1: 135px;
    --imgLeft2: 140px;
    --imgLeft3: 138px;
  }
  .navLink .row-1 h4 {
    margin-right: auto;
    color: rgba(0,0,0,0.75);
  }
  .navLink .row-1:hover {
    --imgTransform: rotate(180deg);
    --textDecorationColor: underline 2px #000;
  }
  
  .navLink .row-1 h4:hover {
    text-decoration: var(--textDecorationColor);
  }
  
  .navLink:nth-child(1) .row-1 h4 {
    margin-left: 67px;
  }
  .navLink:nth-child(2) .row-1 h4 {
    margin-left: 62px;
  }
  .navLink:nth-child(3) .row-1 h4 {
    margin-left: 66px;
  }
  .nested-navLinks {
    position: relative;
  }
  .nested-navLink {
    text-align: center;
    margin-right: 35px;
  }
  .buttons {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    --buttonsMargin: 0 auto;
    background-color: #fff;
    padding: var(--buttonsPadding) 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    --loginColor: color: rgba(0, 0, 0, 0.3);
    box-shadow: 7px 40px 90px -28px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 40px 90px -28px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 40px 90px -28px rgba(0,0,0,0.75);
  }
  .buttons .signup {
    --signupColor: rgb(255, 255, 255);
    background: linear-gradient(270deg, rgba(255, 82, 93, 1), rgba(255, 82, 93, 0.7));
  }
  .buttons .signup:hover {
    background: linear-gradient(270deg, rgba(255, 82, 93, 1), rgba(255, 82, 93, 0.7));
  }
}
.navLinks {
    display: flex;
    height: var(--navLinksHeight);
    overflow: hidden;
    transition: all 2s;
    margin: 30px 30px var(--navLinksMarginBottom) 30px;
}
.nested-navLinks {
  position: var(--position);
  list-style: none;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 20px;
  width: var(--nestedNavLinksWidth);
  box-shadow: var(--boxShadow);
  -webkit-box-shadow: var(--boxShadow);
  -moz-box-shadow: var(--boxShadow);
}
.nested-navLink {
  background-color: var(--nestedNavbarBackgroundColor);
  padding: 10px;
}
.navLink {
  display: inline-table;
  position: relative;
}
.navLink h4 {
  font-weight: 100;
  font-size: 1.1rem;
  color: rgba(255, 255, 255);
  margin-left: 20px;
}

.navLink .row-1 {
  display: flex;  
  cursor: pointer;
  opacity: 0.7;
}
.navLink:nth-child(1):hover {
  --nestedNavbarHeight1: fit-content;
}
.navLink:nth-child(2):hover {
  --nestedNavbarHeight2: fit-content;
}
.navLink:nth-child(3):hover {
  --nestedNavbarHeight3: fit-content;
}
.navLink:hover {
  opacity: 1;
  text-decoration: underline 2px #fff;    
}
.navLink .row-1 .arrow {
  height: 10px;
  position: absolute;
  top: 5px;
}
.navLink .row-1 .light {
  display: none;
  transform: var(--imgTransform);
}
.navLink .row-1 .dark {
  display: block;
  transform: var(--imgTransform);
}
.navLink:nth-child(1) .row-1 img {
  left: var(--imgLeft1);
}
.navLink:nth-child(2) .row-1 img {
  left: var(--imgLeft2);
}
.navLink:nth-child(3) .row-1 img {
  left: var(--imgLeft3);
}
.buttons {
  margin-left: var(--buttonsMarginLeft);
  display: flex;
  height: var(--buttonsHeight);
  overflow: hidden;
  transition: all 2s;
}
.buttons * {
  margin: var(--buttonsMargin);
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
}
.buttons .login {
  padding: 15px 0;
  width: 120px;
  color: var(--loginColor);
  background-color: rgba(0, 0, 0, 0);
  font-weight: 700;
  font-size: 1rem;
}
.buttons .signup {
  padding: 15px 0;
  width: 120px;
  color: var(--signupColor);/* hsl(355, 100%, 74%); */
  font-weight: 700;
  font-size: 1rem;
}
.buttons .signup:hover {
  background-color: rgba(225, 225, 225, 0.6);
  color: #fff;
}
/*rest of the code*/
.rest-of-the-homepage {
  margin: 50px 0;
  font-family: Overpass;
  text-align: center;
  color: #fff;
  padding: 0 10px;
}
.rest-of-the-homepage * {
  width: fit-content;
  margin: 0 auto;
}
.rest-of-the-homepage .home-h1 {
  font-size: 3rem;
  font-weight: 600;
}
.rest-of-the-homepage .home-p {
  font-weight: 300;
  margin: 20px auto;
}
.rest-of-the-homepage .home-buttons {    
  margin: 30px auto;
}
.rest-of-the-homepage .home-buttons button {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 30px;
  margin: 10px 10px;
  cursor: pointer;
}
.rest-of-the-homepage .home-buttons .free-trial {
  background-color: #fff;
  color: rgba(255, 82, 93, 1);
}
.rest-of-the-homepage .home-buttons .free-trial:hover {
  background-color: hsl(355, 100%, 74%);
  color: #fff;
}
.rest-of-the-homepage .home-buttons .learn-more {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
}
.rest-of-the-homepage .home-buttons .learn-more:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(255, 82, 93, 1);
}
/*page2*/
#page-2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  font-family: 'Overpass';
  min-height: 70vh;
  margin-bottom: 10px;
  z-index: 1;
}
#page-2 h1 {
  width: fit-content;
  font-size: 2.5rem;
  margin-bottom: -20px;
}
#page-2 .row {
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 50px 50px 40px;
}
#page-2 .row .text {
  width: 50%;
  padding: 10px;
  line-height: 30px;
  color: hsl(207, 13%, 34%);
}

#page-2 .row .text h2 {
  font-size: 1.5rem;
  margin-top: 40px;
  margin-bottom: 20px;
}
#page-2 .row .illustration {
  width: 42%;
  position: absolute;
  right: 0;
  top: auto;
  bottom: auto;
  z-index: -1;
}
#page-2 .row .illustration img {
  width: 100%;
}
@media (max-width: 1000px) {
  #page-2 h1 {
    font-size: 2rem;
  }
  #page-2 .row {
    flex-direction: column-reverse;
    justify-content: center;
  }
  #page-2 .row .illustration {
    width: 75vw;
    position: relative;
    z-index: 0;
  }
  #page-2 .row .text {
    text-align: center;
    width: 100%;
  }
}
/*page-3*/
#page-3 {
  position: relative;
  background: linear-gradient(180deg, hsl(237, 23%, 32%), hsl(237, 17%, 21%));
  z-index: 0;
  margin: 100px 0;
  height: 400px;
  max-width: 100vw;
  z-index: 0;
  border-radius: 0px 100px;
  font-family: 'Overpass';
  color: #fff;
}
#page-3 main {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10%;
  z-index: 2; 
  max-width: 95%;
}
#page-3 main img {
  max-width: 50%;
  transform: translate(0%, -10%);
  z-index: 2; 
}
#page-3 main .text {
  width: 50%;
  margin-top: 25vh;
  transform: translate(0%, -27.5%);
  line-height: 25px;
  z-index: 2; 
}
@media (max-width: 766px) {
  #page-3 {
    min-height: 750px;
  }
  #page-3 main {
    justify-content: center;
    flex-direction: column;
  }
  #page-3 main img {
    width: 70%;
    margin: 0 auto;
    max-width: none;
    transform: translate(0%, -25%);
  }
  #page-3 main .text {
    width: 90%;
    text-align: center;
    position: absolute;
    bottom: 50%;
    transform: translate(0%, 50%);
    color: pink;
  }
  #page-3 .illustration {
   min-width: 100%;
   top: -10px;
  }
}
#page-3 main .text h1 {
  font-size: 1.75rem;
  margin-bottom: 20px;
}
#page-3 .illustration {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 50vw;
  max-height: 100%;
  transform: rotate(180deg);
}
#page-3 .illustration img {
  width: 120%;
}
/*page-4*/
#page-4 {
  display: flex;
  margin-top: 100px;
  margin-bottom: 50px;
  align-items: center;
}

#page-4 .illustration {
  width: 75%;
  overflow: hidden;
  transform: rotate(180deg);
  transform: rotateY(180deg);
}

#page-4 .text {
  width: 50%;
  margin: 0 100px;
  font-family: 'Overpass';
  color: hsl(208, 49%, 24%);
}

#page-4 .text h1 {
  margin: 20px 0;
  font-size: 1.7rem;
}

#page-4 .text p {
  line-height: 30px;
}

@media (max-width: 860px) {
  #page-4 {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #page-4 .illustration {
    width: 90%;
    overflow: visible;
    margin: 20px 0;
  }

  #page-4 .illustration img {
    width: 100%;
  }

  #page-4 .text {
    width: 90%; 
  }
}
/*footer*/

footer {
  background: linear-gradient(180deg, hsl(237, 23%, 32%), hsl(237, 17%, 21%));
  font-family: 'Overpass';
  border-top-right-radius: 100px;
  display: flex;
  justify-content: space-evenly;
  padding: 100px 50px;
}

footer .nav-links {
  list-style: none;
}

footer .nav-link p {
  color: #fff;
  margin: 10px 0;
  font-size: 1.1rem;
}

footer .nested-navlinks {
  list-style: none;
  margin-top: 30px;
}

footer .nested-navlink {
  color: rgba(255, 255, 255, 0.5);
  margin: 10px 0;
  cursor: pointer;
}

footer .nested-navlink:hover {
  text-decoration: underline 3px rgba(255, 255, 255, 0.7);
}

@media (max-width: 750px) {
  footer {
    flex-direction: column;
    justify-content: center;
    max-width: 100vw;
    padding: 100px 10px;
  }

  footer * {
    margin: 0 auto;
  }

  footer img {
    width: 200px;
    height: auto;
  }

  footer .nav-links {
    margin: 20px auto;
  }

  footer .nav-link p {
    font-size: 1.5rem;
  }

  footer .nested-navlinks {
    text-align: center;    
  }

  footer .nested-navlink {
    font-size: 1.1rem;
  }
}