@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");

:root {
  --cross-opacity: 0;
  --display: none;
  --circle-bg: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* If you want to implement it in very old browser-versions */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* The rule below is not implemented in browsers yet */
  -o-user-select: none;

  /* The rule below is implemented in most browsers by now */
  user-select: none;
}

.attribution {
  display: block;
  justify-self: center;
  align-self: center;
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

/*background image*/
.bg-img-holder {
  position: absolute;
  width: 100%;
  min-height: 360px;
  height: auto;
  background: url("images/bg-desktop-light.jpg") center no-repeat;
  background-size: cover;
}

/*main content container*/
.main-content {
  z-index: 1;
  width: 75vw;
  min-width: 75vw;
  max-width: 75vw;
  height: fit-content;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.main-content > * {
  margin-bottom: 30px;
}

/*title-container*/
.title-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
}

.title {
  font-size: 45px;
  font-family: "Josefin Sans";
  letter-spacing: 5px;
  color: #fff;
}

.icon {
  margin-bottom: 10px;
  height: min-content;
  cursor: pointer;
}

/*set Task*/
.setTask {
  width: 100%;
  height: fit-content;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
}

.circle-exam {
  border: 1px solid hsl(233, 11%, 84%);
  height: 25px;
  width: 28px;
  border-radius: 50%;
  background: var(--circle-bg);
  margin: 10px 20px;
  cursor: pointer;
}

.circle {
  border: 1px solid hsl(233, 11%, 84%);
  height: 25px;
  width: 28px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
  transition: all 2s;
}

.circle:hover {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.changeCircleBg {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.check {
  /* If you want to implement it in very old browser-versions */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* The rule below is not implemented in browsers yet */
  -o-user-select: none;

  /* The rule below is implemented in most browsers by now */
  user-select: none;
  margin: 7px;
}

.typebox {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Josefin Sans";
}
/*task section*/
.tasks {
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: -4px 13px 56px -23px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -4px 13px 56px -23px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 13px 56px -23px rgba(0, 0, 0, 0.75);
}

#add-todo {
  order: 1;
}

.hidden-btn {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.submit-btn {
  position: relative;
  display: flex;
}

.submit-btn:hover {
  --circle-bg: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.status {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 30px;
  color: hsl(236, 9%, 61%);
  font-family: "Josefin sans";
}

.task {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 30px;
  color: hsl(235, 19%, 35%);
  border-bottom: 1px solid hsl(233, 11%, 84%);
  font-family: "Josefin sans";
  cursor: pointer;
  position: relative;
}

.task:hover {
  --cross-opacity: 1;
  --display: flex;
}

.cross {
  cursor: pointer;
  transition: all 1s;
  /* If you want to implement it in very old browser-versions */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* The rule below is not implemented in browsers yet */
  -o-user-select: none;

  /* The rule below is implemented in most browsers by now */
  user-select: none;
}

.strike {
  opacity: 0.4;
}

.descrip {
  margin-top: 5px;
  width: 100%;
  font-size: 1.2rem;
  /* If you want to implement it in very old browser-versions */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* The rule below is not implemented in browsers yet */
  -o-user-select: none;

  /* The rule below is implemented in most browsers by now */
  user-select: none;
}

.tabs {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-family: "Josefin sans";
  color: hsl(236, 9%, 61%);
}

.tab {
  margin: 0 10px;
  cursor: pointer;
}

.tab-a {
  text-decoration: none;
  color: hsl(236, 9%, 61%);
}

.tab-a:hover {
  color: hsl(235, 19%, 35%);
}

.highlight {
  color: hsl(220, 98%, 61%);
}

.itemsLeft {
  font-size: 15px;
}

.clear-completed {
  font-size: 15px;
  cursor: pointer;
}

.clear-completed:hover {
  color: hsl(235, 19%, 35%);
}

.mobile-tab {
  padding: 20px 30px;
  padding-top: 30px;
  width: 350px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  box-shadow: -4px 26px 56px -30px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -4px 26px 56px -30px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 26px 56px -30px rgba(0, 0, 0, 0.75);
}

/*edit-box*/
.btn {
  padding: 0 10px;
  height: 30px;
  margin: 12.5px 10px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  background-color: hsl(235, 19%, 35%);
}

#edit-box {
  display: none;
  width: 50%;
}

.edit-btn {
  padding: 0 10px;
  height: 30px;
  margin: 0 10px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #fc8f32;
  transition: all 1s;
}

#edit-todo {
  width: 100%;
  font-size: 1.1rem;
  margin: 0 20px;
  border: none;
  outline: none;
}

/*completed*/
.taskCompleted .strike {
  text-decoration: line-through;
}

.note {
  color: #000;
  font-size: 10px;
  font-family: "Josefin Sans";
  margin: 10px auto;
}
