@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins',sans-serif;
    overflow-x: hidden;
}

:root {
    --border: 0px;
    --display: none;
    --color: #000;
    --min-width: 50vw;
    --width: fit-content;
    --left: 20px;
    --right: 5px;
    --margintop: -40px;
    --CopyColor: rgb(43, 208, 208);
    --buttonEvent: auto;
    --translateX: -100%;
}

.attribution { font-size: 11px; text-align: center; position: fixed; bottom: 0; left: 50%; transform: translate(-50%, 0%);}
.attribution a { color: hsl(228, 45%, 44%); }

nav {
    display: flex;
    align-items: center;
    padding: 2.5rem 4rem;
}

nav .row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .row1 .hamburger {
    padding: 5px;
    margin: 0 5px; 
    opacity: 0;
    pointer-events: none;
}

nav .row1 .hamburger .bar {
    width: 30px;
    height: 5px;
    background-color: hsl(257, 7%, 63%);
    margin: 5px 0;
    transition: all 1s;
}

nav .nav-link {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.1rem;
    color: hsl(257, 7%, 63%);
    cursor: pointer;
    font-weight: 700;
}

nav .nav-link:hover {
    color: #000;
}

nav .row2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

nav .row2 .buttons {
    display: flex;
}

.rotate {
    cursor: pointer;
}

.transform {
    transform: translateX(10px);
}

nav .row2 button {
    margin: 0 5px;
    font-family: 'Poppins',sans-serif;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
}

nav .row2 button:hover {
    opacity: 0.5;
}

nav .row2 .login {
    outline: none;
    padding: 0.5rem 1.3rem;
    background-color: #fff;
    border: none;
}   

nav .row2 .signup {
    padding: 0.5rem 0;
    width: 7.5rem;
    background-color: rgb(43, 208, 208);
    color: #fff;
    outline: none;
    border-radius: 30px;
    border: 1px solid rgb(43, 208, 208);
}

@media (max-width: 826px) {
    nav {
        flex-direction: column;
        overflow: hidden;
        height: 70px;
        transition: all 2s;
        padding: 1rem 2rem;
    }

    nav .row1 {
        width: 100%;
    }

    nav .row1 .hamburger {
        opacity: 1;
        cursor: pointer;
        pointer-events: auto;
    }

    nav .row2 {
        margin-top: 10px;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        width: calc(80vw-4rem);
        background-color: #000;
        border-radius: 10px;
    }

    nav .nav-links {
        text-align: center;
    }

    nav .nav-link {
        display: flex;
        width: fit-content;
        margin: 20px auto;
        color: #fff;
    }

    nav .nav-link:hover {
        color: hsl(257, 7%, 63%);
    }

    nav .buttons {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    nav .buttons .login {
        background-color: #000;
        color: #fff;
    }

    nav .buttons .signup {
        width: 100%;
        margin: 10px 0;
    }
}

#homepage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0rem;
    padding: 0 50px;
    max-width: 100vw;
    overflow: hidden;
}

#homepage .content {
    width: 45%;
}

#homepage .content h1{
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 70px;
    margin-bottom: 20px;
}

#homepage .content p{
    margin-top: -10px;
    color: hsl(255, 11%, 22%);
}

#homepage .content button {
    padding: 0.8rem 2rem;
    border: 1px solid rgb(43, 208, 208);
    background-color: rgb(43, 208, 208);
    outline: none;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.1rem;
    color: #fff;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

#homepage .content button:hover {
    opacity: 0.5;
}

#homepage img {
    width: 50%;
    margin-bottom: 10px;
    user-select: none;
}

@media (max-width: 815px) {
    #homepage {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    #homepage img {
        width: 150%;
        margin: 20px 0;
        margin-right: -70%;
    }

    #homepage .content {
        width: 100%;
        text-align: center;
    }

    #homepage .content h1 {
        font-size: 2.5rem;
        line-height: 40px;
    }
}

#page2 {
    width: 100vw;
    max-width: 100vw;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 100px;  
}

#shortenLink {
    display: flex;
    justify-content: space-between;
    min-width: 50vw;
    width: fit-content;
    margin: 0px auto;
    margin-top: 20px;
    background-color: antiquewhite;
    padding: 2rem 3rem;
    position: relative;
    transform: translate(0%, -50%);
    border-radius: 10px;
    background-color: #000;
    background-image: url(images/bg-shorten-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#shortenLink .typebox {
    display: flex;
    flex-direction: column;
    width: 70%;
    font-family: 'Poppins';
}

.copied {
    --CopyColor: #000;
    --buttonEvent: none;
    --userSelect: none;
}

#shortenLink .typebox input[type="text"] {
    width: 100%;
    height: 50px;
    border: var(--border) solid hsl(0, 87%, 67%);
    outline: 0px solid #000;
    padding-left: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
}

#shortenLink .typebox input[type="text"]::placeholder {
    color: var(--color);
}

#shortenLink .typebox span {
    display: var(--display);
    color: hsl(0, 87%, 67%);
}

#shortenLink button {
    width: 25%;
    height: 50px;
    font-family: 'Poppins';
    cursor: pointer;
    background-color: rgb(43, 208, 208);
    border: 1px solid rgb(43, 208, 208);
    border-radius: 10px;
    color: #fff;
    outline: none;
    font-size: 1rem;
}

#shortenLink button:hover {
    opacity: 0.5;
}

.error {
    --display: block;
    --border: 3px;
    --color: hsl(0, 87%, 67%);
}

@media (max-width: 605px) {
    #shortenLink {
        flex-direction: column;
        justify-content: center;
        width: 80vw;
        padding: 2rem;
    }

    #shortenLink .typebox {
        width: 100%;
        margin-bottom: 10px;
    }

    #shortenLink button {
        width: 100%;
    }

    #links {
        --min-width: none;
        --width: 80vw;
        --margintop: -90px;
        flex-direction: column;
    }

    #links .link {
        height: fit-content;
        flex-direction: column;
        justify-content: flex-start;
    }

    #links .link hr {
        display: block;
    }

    #links .link .original {
        padding: 0 12px;
        width: 100%;
        margin: 10px 0;
    }

    #links .link .column {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    #links .link .column * {
        width: calc(100% - 40px);
    }

    #links .link .column span {
        --right: -3px;
        margin: 10px 0;
    }
}

.link hr {
    display: none;
    width: 100%;
}

#links {
    margin: 0 auto;
    min-width: var(--min-width);
    width: var(--width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: var(--margintop);
}

#links .link {
    width: 100%;
    height: fit-content;
    padding: 10px 0;
    background-color: #fff;
    display: flex;
    margin: 10px 0;
    align-items: center;
    justify-content: space-between;
    transform: translateX(--translateX);
    transition: all 1s;
}

.move {
    --translateX: 0%;
}

#links .link .original {
    margin-left: var(--left);
    font-size: 1rem;
}

#links .link .column {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#links .link .column span {
    font-size: 1rem;
    margin-right: var(--right);
    color: rgb(43, 208, 208);
}

#links .link .column button {
    margin: 0 10px;
    padding: 0.4rem 1.3rem;
    border-radius: 10px;
    background-color: var(--CopyColor);
    border: 1px solid var(--CopyColor);
    color: #fff;
    font-family: 'Poppins';
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    pointer-events: var(--buttonEvent);
    user-select: var(--userSelect);
}
